.taskDone{
    text-decoration: line-through;
    color: #343a408c;
}
.imgCheck{
   margin-left: 30px;  
}
.timeExcute{
    color: #343a408c;
}
.btn-status:hover{
    cursor: pointer;
}
@media (max-width:768px){
    .imgCheck{
        margin-left: 10px;  
     }
  }
@media (max-width:576px){
    p{
       font-size:15px !important;  
    }
    .btn{
        font-size:15px !important;  
    }
    td{
        font-size:15px !important;  
    }
  }