.logoTodo{
    width: 100px;
    height: 100px;
}
@media (max-width:991px){
  h1.titleTodo{
      font-size: 35px !important;
  }
}
@media (max-width:768px){
    h1.titleTodo{
        font-size: 32px !important;
    }
    .logoTodo{
        width: 75px;
        height: 75px;
    }
  }
@media (max-width:768px){
    h1.titleTodo{
        font-size: 28px !important;
    }
  }
  @media (max-width:576px){
    .componentAdd{
       margin-bottom:7px;
    }
  }
@media (max-width:417px){
    h1.titleTodo{
        font-size: 24px !important;
    }
  }
  @media (max-width:379px){

    h1.titleTodo{
        font-size: 20px !important;
    }
    .logoTodo{
        width: 60px;
        height: 60px;
    }
  }

